aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.4.15
py-tgcalls
pytube
wget
python-dotenv
search-engine-parser
tgcrypto
youtube-search-python
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans
hurry.filesize
motor
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
yt-dlp
hachoir
lyricsgenius
httpx>=0.14.2
